<div class="row clearfix inner-call-window">
    <div class="col-sm-12">
        <!-- Content Goes Here -->

        <div class="pad">
            <div class="dial-pad">
                <div class="phoneStrings">
                    <p class="text-center dialingtxt">Dialling… </p>
                </div>
                <div class="phoneStrings text-center">
                    <div class="callericn">
                        {{#if dialingData.ImageURL}}
                        <img src={{dialingData.ImageURL}} alt={{dialingData.caller_id}}>
                        {{else}}
                        <img src="images/pho.png" alt="Generic placeholder image">
                        {{/if}}
                        <span class="callername d-block">{{dialingData.caller_id}}</span>
                        <span class="extnum">Extn. {{dialingData.ext}}</span>
                    </div>
                    <div class="digits dailed">
                        <div class="dig pound number-dig active" name="1"><span class="icon_dialpad_audio"></span>
                            <div class="sub-sdig">Mute</div>
                        </div>
                        <div class="dig number-dig" name="2"><span class="icon_dialpad_key"></span>
                            <div class="sub-sdig">Keypad</div>
                        </div>
                        <div class="dig number-dig" name="3"><span class="icon_audio1"></span>
                            <div class="sub-sdig">Speaker</div>
                        </div>
                        <div class="dig number-dig disabled" name="4"><span class="icon_dialpad_add"></span>
                            <div class="sub-sdig">Add Call</div>
                        </div>
                        <div class="dig number-dig disabled" name="5"><span class="icon_dialpad_hold"></span>
                            <div class="sub-sdig">Hold</div>
                        </div>
                        <div class="dig number-dig disabled" name="6"><span class="icon_dialpad_record"></span>
                            <div class="sub-sdig">Record</div>
                        </div>
                        <div class="dig number-dig disabled" name="7"><span class="icon_dialpad_transfer"></span>
                            <div class="sub-sdig">Transfer</div>
                        </div>
                        <div class="dig number-dig disabled" name="8"><span class="icon_dialpad_video"></span>
                            <div class="sub-sdig">Switch Video</div>
                        </div>
                        <div class="dig number-dig dropup disabled" name="9"><span
                                class="icon_dialpad_more dropdown-toggle" data-toggle="dropdown"></span>
                            <div class="sub-sdig">More</div>
                            <ul class="dropdown-menu dropdown-menu-center">
                                <li class="dropdown-item"><span class="icon_call_park"></span>Call Park</li>
                                <li class="dropdown-item"><span class="icon_call_flip"></span>Call Flip</li>
                            </ul>
                        </div>
                    </div>
                    <div class="digits">
                        <div class="dig number-dig astrisk" name="*" style="visibility: hidden;"></div>
                        <div class="dig number-dig callbtn end" name="0"><span class="icon_dialpad_call_end"></span>
                        </div>
                        <div class="dig  goBack action-dig" name="#" style="visibility: hidden;">#</div>
                    </div>
                </div>

            </div>


        </div>
    </div>