<ul class="con-de">
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-list-sm">Status</span>
			            				<span class="con-sec-tit">{{status_msg}}</span>
			            			</div>
			            			<div>
			            				<img src="images/working_in_home.svg">
			            			</div>
			            		</div>	
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-list-sm">Department</span>
			            				<span class="con-sec-tit">{{department}}</span>
			            			</div>
			            			<div>
			            				
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-list-sm">Extn.</span>
			            				<span class="con-sec-tit">{{ext}}</span>
			            			</div>
			            			<div>
			            				<span class="icon_call"></span>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-list-sm">Direct Number</span>
			            				<span class="con-sec-tit">{{direct_no}}</span>
			            			</div>
			            			<div>
			            				<span class="icon_call"></span>
			            			</div>
			            		</div>
			            	</li>
			            	<li>
			            		<div class="d-flex justify-content-between align-items-center">
			            			<div>
			            				<span class="con-sec-list-sm">Email Address</span>
			            				<span class="con-sec-tit">{{email_id}}</span>
			            			</div>
			            			<div>
			            				<span class="icon_email"></span>
			            			</div>
			            		</div>
			            	</li>
			            </ul>