<div class="row clearfix inner-ptop" bid={{sip_login_id}} id="innerchat-win">
				<div class="col-sm-12">
					<div class="row clearfix">
						<div class="col-sm-7">
							{{#if ImageURL}}
							<img src={{ImageURL}}>
							{{else}}
							<img src="images/pho.png"/>
							{{/if}}
							<h4>{{caller_id}} 
								{{#if is_favourite}}
								<span class="favicon icon_favourite_active cyellow"></span>
								{{else}}
								<span class="favicon icon_favourite_inactive"></span>
								{{/if}}
							</h4>
							<p><span class="dotscolors green static"></span> {{user_status}}</p>
						</div>
						<div class="col-sm-5">
							<ul>
								<li><span class="icon_call1"></span></li>
								<li><span class="icon_video_call"></span></li>
								<li><span class="icon_more_vertical"></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-sm-12">
					<!-- Content Goes Here -->
					
					
					
				</div>
			</div>